body {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: Century Gothic;
    align-items: center;
    justify-content: center;
    display: flex;
}

* {
  box-sizing: border-box;
}

.header {
  padding: 15px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}



input,button {
    border: none;
    font-size: 16px;
    line-height: 12px;
    padding: 0;
}

.container{
    position: relative;
    margin-top: 100px;
    width: 450px;
    height: auto;
    border-radius: 5px;
    background: red;
}

#login form {
  padding: 30px 40px;
  width: auto;
  border-radius: 5px;
  background: #3b4148;
  border-top: 3px solid #434a52;
  border-bottom: 3px solid #434a52;
}

#login form input[type="text"] {
  background-color: #3b4148;
  border-radius: 0px 3px 3px 0px;
  border-bottom:  1px solid silver;
  color: white;
  margin: 5px 0;
  padding: 0 10px;
  width: 100%;
  height: 50px;
}

#login form input[type="password"] {
  background-color: #3b4148;
  border-radius: 0px 3px 3px 0px;
  border-bottom:  1px solid silver;
  color: white;
  margin: 5px 0;
  padding: 0 10px;
  width: 100%;
  height: 50px;
}

#login form button[type="submit"] {
  width: 100%;
  height: 40px;
  border-radius: 3px;
  cursor: pointer;
    margin-top: 15px;
  background: #434a52;
  color: white ;
  border: 1px solid white;
}

#login form button[type="submit"]:hover {
    background: white;
    border: 0px;
    color: #434a52;
    font-style: bold;
}

.login_form #userError,
.login_form #passError{
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
    font-size: 14px;
    color: white;
    background: rgba(255,0,0,0.1);
    text-align: center;
    padding: 5px 8px;
    border-radius: 3px;
    border: 1px solid #EF9A9A;
    display: none;
}

*{
    padding: 0;
    margin: 0;
}
